// /* Container Styles */
// .container-fluid {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
//     background-color: #f0f0f0; /* Set your desired background color */
//   }
  
//   .login-container {
//     background-color: #fff; /* Set your desired background color */
//     border-radius: 1rem;
//     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
//     padding: 20px;
//     width: 100%;
//     max-width: 500px;
//   }
  
//   /* Card Styles */
//   .card {
//     border: none;
//   }
  
//   .card-body {
//     padding: 30px;
//   }
  
//   /* Text Styles */
//   .login-text {
//     font-size: 1.5rem;
//     font-weight: bold;
//     color: #333; /* Set your desired text color */
//   }
  
//   /* Form Styles */
//   .custom-form-field {
//     margin: 10px 0;
//   }
  
//   /* Button Styles */
.btn-brand-green {
    background-color: #4caf50; /* Set your desired button background color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
//   .btn-brand-green:hover {
//     background-color: #45a049; /* Set your desired button background color on hover */
//   }
  
//   /* Input Styles */
//   mat-form-field {
//     width: 100%;
//      /* Full width */
//   }
  

//   mat-error {
   
//     color: red; /* Set your desired error message text color */
//   }
//   // .btn-container {
//   //   margin-top: 20px; /* Adjust the margin-top value as needed to move the button down */
//   // }
