<p>Vehicles</p>

<div class="row">
  <div class="col-md-5">
    <div class="row">
      <div class="col-md-3 col-lg-3">
        <div class="square-image-container">
          <img [src]="itemImageUrl" (error)="displayUniqueLetters()" />
          <div *ngIf="showUniqueLetters" class="unique-letters">
            {{ itemUniqueLetters }}
          </div>
        </div>
      </div>
      <div class="col-md-8 col-lg-8">
        <p>SRV</p>

        <p>SUV 2007 Nissan Trading name| Truck name</p>
        <div class="active-radio">
          <input
            type="radio"
            id="activeRadio"
            [checked]="isActive"
            [ngClass]="{ active: isActive }"
            [disabled]="!isActive"
          />
          <label for="activeRadio">Active</label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-12 col-lg-12">
    <mat-tab-group>
      <!-- Overview Tab -->
      <mat-tab label="Overview ">
        <div class="overview" style="margin-top: 10px">
          <div class="row">
            <div class="col-md-6">
              <mat-card class="example-card">
                <mat-card-content>
              
                  <canvas id="piechart" ></canvas>
          
                
              </mat-card-content>
              <mat-card-actions>
                <div class="row">
                  <div class="col-md-4 ">
                    Fuel Cost
                    <p><b>$500</b></p>
                  </div>
                  <div class="col-md-4">
                    service Cost
                    <p><b>$500</b></p>
                  </div>
                  <div class="col-md-4">
                    Other Cost
                    <p><b>$500</b></p>
                  </div>

                </div>
                  
                
              </mat-card-actions>
                
              </mat-card>
            </div>
            <div class="col-md-6">
              <mat-card class="example-card">
                <mat-card-header>
                  <div class="row">
                    <div class="col-md-8">

                 
                    <b>Open Issue</b>
                  </div>
                  <div class="col-md-2">
                    </div>
                    <div class="col-md-2">
                    </div>
                  
                  </div>
                  
                </mat-card-header>
                <mat-card-content>
              
                
          
                
              </mat-card-content>
                
              </mat-card>
            </div>

          </div>
          
        </div>
        <!-- Content for the Overview tab goes here -->
      </mat-tab>

      <!-- Location Tab -->
      <mat-tab label="Location">
        <!-- Content for the Location tab goes here -->
      </mat-tab>

      <!-- Progress Tab -->
      <mat-tab label="Progress">
        <!-- Content for the Progress tab goes here -->
      </mat-tab>

      <!-- Compliance Tab -->
      <mat-tab label="Compliance">
        <!-- Content for the Compliance tab goes here -->
      </mat-tab>

      <!-- Order Tab -->
      <mat-tab label="Order">
        <!-- Content for the Order tab goes here -->
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
