<div class="form-body">
  <mat-toolbar>
    <mat-toolbar-row class="siteheader1" style="border-bottom: 2px solid #e6e6e6">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2 col-4 justify-content-center align-self-center">
            <a [routerLink]="['home/dashboard']" routerLinkActive="active" class="mx-2">
              <img src="assets/media/Images/Logo.png" alt="No Image Found" style="width: 60px; height: 50px;">
          </a>
          
           
          </div>
          <div class="col-md-6 offset-md-4 col-8 justify-content-center align-self-center">
            <div class="row">
              <div class="col-md-7 col-1 gx-0" style="text-align: right; border-right: 1px solid #e6e6e6; padding-right: 10px"></div>
              <div class="col-md-3 col-1 gx-3 justify-content-center align-self-center " style="text-align: right; font-size: small">
                <div style="max-width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" matTooltipPosition="below">
                  <span class="mx-5">
                    <button mat-icon-button mx-5 [matMenuTriggerFor]="menuNotification" class="example-icon favorite-icon mx-5" aria-label="Example icon-button with heart icon" style="height: 100%">
                      <mat-icon style="color: #0095da" matBadge="3">notifications</mat-icon>
                    </button>
                    <mat-menu #menuNotification="matMenu">
                      <div class="topnav-dropdown-header">
                        <span class="notification-title">Notifications</span>
                      </div>
                      <div class="noti-content">
                        <ul class="notification-list">
                          <li class="notification-message">
                            <a href="activities.html">
                              <div class="media d-flex">
                                <span class="avatar flex-shrink-0">
                                  <img alt="" src="https://crms-html.dreamguystech.com/template/assets/img/profiles/avatar-02.jpg" />
                                </span>
                                <div class="media-body flex-grow-1">
                                  <p class="noti-details">
                                    <span class="noti-title">John Doe</span>
                                    added new task
                                    <span class="noti-title">Patient appointment booking</span>
                                  </p>
                                  <p class="noti-time">
                                    <span class="notification-time">4 mins ago</span>
                                  </p>
                                </div>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </mat-menu>
                  </span>
                </div>
              </div>
              <div class="col-md-1 col-3 justify-content-center align-self-center">
                  <button mat-icon-button>
                    <mat-icon style="color: #0095da">menu</mat-icon>
                  </button>
                </div>
              <div class="col-md-1 col-3 gx-3 justify-content-center align-self-center" style="text-align: center">
                <span style="padding-left: 10px">
                  <mat-icon mat-mini-fab [matMenuTriggerFor]="menuHero" class="maticon-small-size">person</mat-icon>
                  <mat-menu #menuHero="matMenu">
                    <button mat-menu-item>
                      <mat-icon>person</mat-icon>
                      <span>Change Password</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>exit_to_app</mat-icon>
                      <span>Logout</span>
                    </button>
                  </mat-menu>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>