/* CSS for OTP container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .btn-resend {
    margin-top: 10px;
  }
  .angular-otp-box button.otp-resend-button {
    margin-top: 10px;
  }
  .otp-container {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  /* CSS for OTP input box */
  .otp {
    display: flex;
    justify-content: space-between;
  }
  
  .otp input {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 10px;
  }
  
  /* CSS for Submit button */
  .btn-submit {
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .btn-submit:hover {
    background-color: #0056b3;
  }
  