
<ng-container *ngIf="showSideNav">
    <app-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav>
    <app-header [collapsed]="isSideNavCollapsed" [screenWidth]="screenWidth" ></app-header>
  
    
    <app-body [collapsed]="isSideNavCollapsed" [screenWidth]="screenWidth"></app-body>
  </ng-container>
  
   <!-- <ng-container *ngIf="showSideNav" >
    
    <app-body [collapsed]="isSideNavCollapsed" [screenWidth]="screenWidth"></app-body>
  </ng-container>  --> 
<ng-container *ngIf="!showSideNav">
  <router-outlet></router-outlet> 
</ng-container>
